.button {
    width: 100%;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: #fff;
    color: #000;
    border-radius: 40px;
    padding: 20px;
    cursor: pointer;
  }
  
  /* Состояние наведения курсора мыши на кнопку */
  .button:hover {
    color: rgba(181, 13, 181, 0.7);
  }
  
  /* Игровое поле */
  .table {
    display: grid;
    min-width: 500px;
    max-width: 1000px;
    margin-bottom: 20px;
    gap: 10px;
  }
  
  /* Отдельно взятая карточка */
  .card {
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(218, 69, 218, 0.6);
    border-radius: 5px;
    transition: .3s;
    font-size: 30px;
    cursor: pointer;
}
.card:hover {
    background-color: rgba(218, 69, 218, 1);
}